services:
  gateway:
    container_name: api-gateway
    build: 
      dockerfile: ../Dockerfile
      context: api-gateway
    volumes:
      - ./api-gateway:/usr/src/app
    networks:
      - voedselbos
    ports:
      - "3011:3011"
    working_dir: /usr/src/app
    command: bash -c "npm install && npm run dev"
  forests:
    container_name: forests
    build: ./forests
    volumes:
      - ./forests:/usr/src/app
    networks:
      - voedselbos
    ports:
      - "3012:3012"
    working_dir: /usr/src/app
    command: bash -c "npm install && npm run dev"

networks:
  voedselbos:
    driver: bridge